main
demo
target
server
venv*
venv
node_modules
basicrouting/src
basicmonolith/src
basicrouting/*.json
basicmonolith/*.json
basicmonolith/node/.git*
basicmonolith/python/.git*
basicmonolith/node/*.json
basicmonolith/node/public
basicmonolith/python/public
Cargo.toml
Cargo.lock
__pycache__
.DS_Store
*.DS_Store
*.pyc